---
import { getRelativeLocaleUrl } from "astro:i18n";
import IconChevronLeft from "@/assets/icons/IconChevronLeft.svg";
import { useTranslations } from "@/i18n";
import config from "@/config";

const locale = Astro.currentLocale ?? config.site.lang;
const t = useTranslations(locale);
---

<nav aria-label="Breadcrumb" class="app-layout mt-8">
  <ol class="flex flex-wrap items-center gap-2">
    <li>
      <a
        href={getRelativeLocaleUrl(locale, "")}
        class="hover:text-accent text-sm font-medium"
      >
        {t.nav.home}
      </a>
    </li>
    <li aria-hidden="true" class="flex">
      <IconChevronLeft class="size-4 rtl:-rotate-180" />
    </li>
    <li>
      <a
        href={getRelativeLocaleUrl(locale, "posts")}
        class="hover:text-accent text-sm font-medium"
      >
        {t.nav.posts}
      </a>
    </li>
  </ol>
</nav>
